<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body class="bg-light">
<div class="container">

    <div class="container">

        <div class="row">
            <!--            <div class="col-md-1"></div>-->
            <div class="col-md-9">

                <!--       table Start        -->

                <table class="tg" style="table-layout: fixed; width: 720px">
                    <colgroup>
                        <col style="width: 200px">
                        <col style="width: 150px">
                        <col style="width: 150px">
                        <col style="width: 300px">
                        <col style="width: 150px">
                        <col style="width: 150px">
                        <col style="width: 400px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="tg-nrix"></th>
                        <th class="tg-9wq8"><span style="font-weight:400;font-style:normal">Wind Dir</span></th>
                        <th class="tg-9wq8"><span style="font-weight:200;font-style:normal">Wind Spd</span></th>
                        <th class="tg-9wq8"><span style="font-weight:400;font-style:normal">Lux</span></th>
                        <th class="tg-9wq8"><span style="font-weight:400;font-style:normal">Temp</span></th>
                        <th class="tg-9wq8"><span style="font-weight:400;font-style:normal">Humidity</span></th>
                        <th class="tg-9wq8"><span style="font-weight:400;font-style:normal">RCV Time</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2001')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2001</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <div id="id2001_windDir">
                                </div>
                        </td>

                        <td class="tg-9wq8">

                            <div id="id2001_windSpeed">
                            </div>

                        </td>

                        <td class="tg-9wq8">
                            <div id="id2001_lux">
                            </div>
                        </td>

                        <td class="tg-9wq8">
                            <div id="id2001_temp">
                            </div>
                        </td>

                        <td class="tg-9wq8">
                            <div id="id2001_rhumidity">
                            </div>
                        </td>

                        <td class="tg-9wq8">
                            <div id="id2001_nowTime">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2002')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2002</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <span id="id2002_windDir">
                                </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2002_windSpeed">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2002_lux">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2002_temp">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2002_rhumidity">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2002_nowTime">
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2003')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2003</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <span id="id2003_windDir">
                                </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2003_windSpeed">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2003_lux">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2003_temp">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2003_rhumidity">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2003_nowTime">
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2004')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2004</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <span id="id2004_windDir">
                                </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2004_windSpeed">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2004_lux">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2004_temp">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2004_rhumidity">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2004_nowTime">
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2005')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2005</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <span id="id2005_windDir">
                                </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2005_windSpeed">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2005_lux">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2005_temp">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2005_rhumidity">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2005_nowTime">
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-9wq8"><span style="font-weight:400;font-style:normal">
                            <button type="button" onclick="realTimeGraphpopup('id2006')" class="btn btn-link btn-lg"
                                    style="width: 127px; height: 54px">
                            ID 2006</button>
                        </span>
                        </td>

                        <td class="tg-9wq8">
                             <span id="id2006_windDir">
                                </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2006_windSpeed">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2006_lux">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2006_temp">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2006_rhumidity">
                            </span>
                        </td>

                        <td class="tg-9wq8">
                            <span id="id2006_nowTime">
                            </span>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <!--table End-->
            </div>

<!--            사진-->
            <div class="col-md-2">
<!--                <img class="imageContainer" th:src="@{/images/home3.png}" align="center">-->
                <img class="imageContainer" th:src="@{/images/home.png}">
            </div>
        </div>
        <br>
    </div>
</div>

<!--<br><br><br><br><br><br>-->

<!-- realTime Data  -->
<!--<div class="card">-->
<!--    <h3 class="card-header">-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        wind Dir-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        wind Spd-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        temp-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        Humidity-->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        RCV Time-->
<!--    </h3>-->
<!--    <div class="card-body">-->

<!--        <p class="card-text">-->
<!--        <div class="row" style="margin:0px;">-->
<!--            <div class="col-md-10">-->
<!--                <div id ="realTimeData" style="height: 153px; overflow: auto;">-->
<!--&lt;!&ndash;                <div id="realTimeData" data-spy="scroll" data-target="#list-example" data-offset="0"&ndash;&gt;-->
<!--&lt;!&ndash;                     style=" height: 153px; overflow: auto; overflow: auto; border: 1.5px solid black; "&ndash;&gt;-->
<!--&lt;!&ndash;                     onclick="this.select()" onfocus="this.select()">&ndash;&gt;-->

<!--                    <span id="smartSensorData"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="card">-->
<!--    <h2 class="card-header">Smart Sensor Data</h2>-->
<!--    <div class="card-body">-->

<!--        <p class="card-text">-->
<!--        <div class="row" style="margin:0px;">-->
<!--            <div class="col-md-10">-->
<!--                <div id="realTimeData" data-spy="scroll" data-target="#list-example" data-offset="0"-->
<!--                     class="scrollspy-example"-->
<!--                     style=" height: 153px; overflow: auto; overflow: auto; border: 1.5px solid black; "-->
<!--                     onclick="this.select()" onfocus="this.select()">-->

<!--                    <span id="smartSensorData"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->


</div>
</div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script>

    var windIntervval = null;
    var realTimeInterVal = null;

    function drawWind() {
        console.log('set wind');
        $.ajax({
            url: '/main/data/getWindInfo',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: 'windInfo', // null
            success: function (data) {
                if (typeof data.windInfo !== 'undefined') {

                    $.each(data.windInfo, function (index, obj) {
                        if (obj != null) {
                            console.log(obj);
                            if (index == 0) {
                                $('#id2001_windDir').remove();
                                $('#id2001_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2001_windSpeed').remove().append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2001_lux').remove().append('<h4>' + obj.lux + "</h4>");
                                $('#id2001_temp').remove().append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2001_rhumidity').remove().append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2001_nowTime').remove().append('<h4>' + obj.nowTime + "</h4>");
                            } else if (index == 1) {
                                $('#id2002_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2002_windSpeed').append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2002_lux').append('<h4>' + obj.lux + "</h4>");
                                $('#id2002_temp').append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2002_rhumidity').append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2002_nowTime').append('<h4>' + obj.nowTime + "</h4>");
                            } else if (index == 2) {
                                $('#id2003_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2003_windSpeed').append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2003_lux').append('<h4>' + obj.lux + "</h4>");
                                $('#id2003_temp').append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2003_rhumidity').append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2003_nowTime').append('<h4>' + obj.nowTime + "</h4>");
                            } else if (index == 3) {
                                $('#id2004_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2004_windSpeed').append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2004_lux').append('<h4>' + obj.lux + "</h4>");
                                $('#id2004_temp').append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2004_rhumidity').append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2004_nowTime').append('<h4>' + obj.nowTime + "</h4>");
                            } else if (index == 4) {
                                $('#id2005_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2005_windSpeed').append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2005_lux').append('<h4>' + obj.lux + "</h4>");
                                $('#id2005_temp').append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2005_rhumidity').append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2005_nowTime').append('<h4>' + obj.nowTime + "</h4>");
                            } else if (index == 5) {
                                $('#id2006_windDir').append('<h4>' + obj.windDir + "</h4>");
                                $('#id2006_windSpeed').append('<h4>' + obj.windSpeed + "</h4>");
                                $('#id2006_lux').append('<h4>' + obj.lux + "</h4>");
                                $('#id2006_temp').append('<h4>' + obj.airTemperature + "</h4>");
                                $('#id2006_rhumidity').append('<h4>' + obj.rhumidity + "</h4>");
                                $('#id2006_nowTime').append('<h4>' + obj.nowTime + "</h4>");
                            }
                        } else {
                            //값이 없으면 표시 안하도록 변경
                            if (index == 0) {
                                $('#id2001_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2001_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2001_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2001_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2001_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2001_nowTime').append('<h4>' + ' - ' + "</h4>");
                            } else if (index == 1) {
                                $('#id2002_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2002_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2002_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2002_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2002_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2002_nowTime').append('<h4>' + ' - ' + "</h4>");
                            } else if (index == 2) {
                                $('#id2003_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2003_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2003_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2003_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2003_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2003_nowTime').append('<h4>' + ' - ' + "</h4>");
                            } else if (index == 3) {
                                $('#id2004_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2004_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2004_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2004_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2004_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2004_nowTime').append('<h4>' + ' - ' + "</h4>");
                            } else if (index == 4) {
                                $('#id2005_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2005_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2005_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2005_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2005_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2005_nowTime').append('<h4>' + ' - ' + "</h4>");
                            } else if (index == 5) {
                                $('#id2006_windDir').append('<h4>' + ' - ' + "</h4>");
                                $('#id2006_windSpeed').append('<h4>' + ' - ' + "</h4>");
                                $('#id2006_lux').append('<h4>' + ' - ' + "</h4>");
                                $('#id2006_temp').append('<h4>' + ' - ' + "</h4>");
                                $('#id2006_rhumidity').append('<h4>' + ' - ' + "</h4>");
                                $('#id2006_nowTime').append('<h4>' + ' - ' + "</h4>");
                            }
                        }
                    });
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }


    function setIntervalEVent() {
        windIntervval = setInterval(drawWind, 300000);
        realTimeInterVal = setInterval(getRealTimedata, 300000);
    }

    function stopInterval() {

        if (typeof windIntervval !== 'undefined') {
            clearInterval(windIntervval);
        }

        if (typeof realTimeInterVal !== 'undefined') {
            clearInterval(realTimeInterVal);
        }
    }


    function sensorDataWarningFunction() {
        window.open("/popup/alert", "MsgWindow", "width=1200,height=800");
    }

    function realTimeGraphpopup(sensorId) {
        window.open("/popup/graph?sensorId=" + sensorId, "MsgWindow", "width=1200 ,height=800")
    }


    function getRealTimedata() {
        var param = function () {
            var now = moment(new Date(new Date().toISOString())).format('YYYY-MM-DD 00:00:00');
            var startDate = moment(now).utc().format('YYYY-MM-DD HH:mm:ss');
            var endDate = moment(startDate).add(24, 'hours').format('YYYY-MM-DD HH:mm:ss');

            var result = {
                startDate: startDate,
                endDate: endDate
            }
            return result;
        }
        $.ajax({
            url: '/main/data/realTimeData',
            type: 'post',
            dataType: 'json',
            data: param(),
            success: function (data) {
                console.log('set realTime');
                if (typeof data.dataList !== 'undefined') {
                    var realTimeDiv = $('#realTimeData');
                    realTimeDiv.empty();
                    $.each(data.dataList, function (index, obj) {
                        var contents = $('<span style="font-size:37px;"></span>');
                        var idValue = 'list-item-' + (index + 1);
                        var value = obj.sensorId +
                            +obj.windDir + "  " + obj.windSpeed +
                            "      " + obj.lux + "           " + obj.rhumidity + "          " + obj.nowTime; //rhumidity --카멜식 오류 수정

                        contents.attr('id', idValue);
                        contents.text(value);
                        realTimeDiv.append(contents);


                    });
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
        // $.ajax({
        //     url: '/main/data/realTimeData',
        //     type: 'post',
        //     dataType: 'json',
        //     data: param(),
        //     success: function (data) {
        //         console.log('set realTime');
        //         if (typeof data.dataList !== 'undefined') {
        //             var realTimeDiv = $('#realTimeData');
        //             realTimeDiv.empty();
        //             $.each(data.dataList, function (index, obj) {
        //                 var contents = $('<span style="font-size:37px;"></span>');
        //                 var idValue = 'list-item-' + (index + 1);
        //                 var value = 'sensorId : ' + obj.sensorId +
        //                     ",  windDir : " + obj.windDir + ",  windSpeed : " + obj.windSpeed +
        //                     ",  lux : " + obj.lux + ",  rHumidity : " + obj.rhumidity + ",  date : " + obj.nowTime; //rhumidity --카멜식 오류 수정
        //
        //                 contents.attr('id', idValue);
        //                 contents.text(value);
        //                 realTimeDiv.append(contents);
        //
        //
        //             });
        //         }
        //     },
        //     error: function (request, status, error) {
        //         console.log(error);
        //     }
        // });
    }


    //시작 함수
    $(document).ready(function () {
        drawWind();
        getRealTimedata();
        //5분갱신 등록
        setIntervalEVent();
    });

</script>
</body>
</html>

