<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmls="http://www.w3.org/1999/xhtml">

<style>

    .mon.active {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        display: block;
        width: 100%;
        color: #fff;
        border: 1px solid #13530e;
        background: #13530e;
    }

    .mon {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        display: block;
        width: 100%;
        color: #fff;
        border: 1px solid #c3ffbe;
        background: #c3ffbe;
    }

</style>
<body class="bg-light">
<div class="container">
    <br>
    <!-- 실시간 풍향/풍속 ()-->
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div>
                    <img th:src="@{/images/home.png}" align="center">
                </div>
            </div>
            <br> <br>
        </div>

        <!--top-left-->
        <div class="top-left">
            <div class="card bg-light mb-3" style="max-width: 10rem; height: 10rem">
                <div class="card-header">Sensor 1 </div>
                <div class="card-body">
                    <i class="fas fa-wind fa-3x"></i>
                    &nbsp;
                    <i class="fas fa-location-arrow fa-3x"></i>
                </div>
            </div>
        </div>

        <!--top-right-->
        <div class="top-right">
            <div class="card bg-light mb-3" style="max-width: 10rem; height: 10rem">
                <div class="card-header">Sensor 2 </div>
                <div class="card-body">
                    <i class="fas fa-wind fa-3x"></i>
                    &nbsp;
                    <i class="fas fa-location-arrow fa-3x"></i>
                </div>
            </div>
        </div>

        <!--bottom-left-->
        <div class="bottom-left">
            <div class="card bg-light mb-3" style="max-width: 10rem; height: 10rem">
                <div class="card-header">Sensor 4 </div>
                <div class="card-body">

                    <i class="fas fa-wind fa-3x"></i>
                    &nbsp;
                    <i class="fas fa-location-arrow fa-3x"></i>
<!--                    <button type="button" class="btn btn-link btn-lg">-->
<!--                            <span id="downLeft">-->

<!--                                <h4> NW, 10m/s</h4>-->
<!--                            </span>-->
<!--                    </button>-->
                </div>
            </div>
        </div>

        <!--bottom-right-->
        <div class="bottom-right">
            <div class="card bg-light mb-3" style="max-width: 10rem; height: 10rem">
                <div class="card-header">Sensor 3

                </div>
                <div class="card-body">

                        <i class="fas fa-wind fa-3x"></i>
                        &nbsp;
                        <i class="fas fa-location-arrow fa-3x"></i>
                        <button type="button" class="btn btn-link btn-lg">
                            <span id="downLeft">

                                <h4> NW, 10m/s</h4>
                            </span>
                        </button>

                </div>
            </div>
        </div>


    </div>

</div>
</div>
<br><br>

<!-- 실시간 풍향/풍속 ()-->
<!--        <div class="row">-->
<!--            <div class="col-md-3"></div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="card bg-light mb-3" style="max-width: 10rem; height: 10rem">-->
<!--                    <div class="card-header">Header-->

<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h10 class="card-title">Light card title</h10>-->
<!--                        <p class="card-text">Some </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;                <button type="button" onclick="realTimeWindSpeedFunction()" class="btn btn-link btn-lg">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <span id="topLeft">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <h4> NW, 50m/s</h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </button>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <button type="button" class="btn btn-link btn-lg">-->
<!--                    <span id="topRight">-->
<!--                        <h4> NW, 50m/s</h4>-->
<!--                    </span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; img &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-3"></div>-->
<!--            <div class="col-md-9">-->
<!--                <div>-->
<!--                    <img th:src="@{/images/home.png}" align="center">-->
<!--                </div>-->
<!--            </div>-->
<!--            <br> <br>-->
<!--        </div>-->
<!--        &lt;!&ndash; 실시간 풍향/풍속 ()&ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-3"></div>-->
<!--            <div class="col-md-4">-->
<!--                <button type="button" class="btn btn-link btn-lg">-->
<!--                  <span id="downLeft">-->
<!--                        <h4> NW, 10m/s</h4>-->
<!--                  </span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <button type="button" class="btn btn-link btn-lg">-->
<!--                 <span id="downRight">-->
<!--                     <h4> NW, 50m/s</h4>-->
<!--                 </span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!-- realTime Data  -->
<div class="card">
    <h2 class="card-header">Smart Sensor Data</h2>
    <div class="card-body">

        <p class="card-text">
        <div class="row" style="margin:0px;">
            <div class="col-md-10">
                <!-- data-spy 설정, target은 id가 list-example, overflow설정과 높이 설정이 되어야 한다. -->
                <!-- data-offset은 scrollspy의 갭이다. 즉 list-item1의 위치가 처음 나왔을 때, 얼마나 전에 나오는지,
                즉 200이라고 쓰면 div 크기가 200이가 때문에 Item 2가 나오기도 전에 button active가 바뀐다.-->
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example"
                     style=" height: 153px; overflow: auto; overflow: auto; border: 1.5px solid black; "
                     onclick="this.select()" onfocus="this.select()">
                    <h4 id="list-item-1">Sensor</h4>
                    센서정보 센서정보
                    <h4 id="list-item-2">Item 2</h4>
                    ...
                    <h4 id="list-item-3">Item 3</h4>
                    ...
                    <h4 id="list-item-4">Item 4</h4>
                    ...
                    <span id="smartSensorData"></span>
                </div>
            </div>
            <div class="col-md-2" style="text-align: right">
                <button type="button" onclick="sensorDataWarningFunction()" class="btn btn-success btn-lg"
                        style="float: left">Warning
                </button>
            </div>
        </div>
        </p>
    </div>
</div>

</div>
</div>
<script>

    var windIntervval = null;

    function drawWind() {

        $.ajax({
            url: '/sensor/getWindInfo',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({userId: 1}),
            success: function (data) {
                console.log('don ajax');
                if (typeof data.windInfo !== 'undefined') {

                    $.each(data.windInfo, function (index, obj) {
                        if (index == 0) {
                            $('#topLeft').html('<h4>' + obj.windDir + ", " + obj.windSpeed + " m/s</h4>");
                        } else if (index == 1) {
                            $('#topRight').html('<h4>' + obj.windDir + ", " + obj.windSpeed + " m/s</h4>");
                        } else if (index == 2) {
                            $('#downLeft').html('<h4>' + obj.windDir + ", " + obj.windSpeed + " m/s</h4>");
                        } else if (index == 3) {
                            $('#downRight').html('<h4>' + obj.windDir + ", " + obj.windSpeed + " m/s</h4>");

                        }
                    });
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }


    function setIntervalEVent() {
        windIntervval = setInterval(drawWind, 1000);
    }

    function stopWindInterVal() {
        if (typeof windIntervval !== 'undefined') {
            clearInterval(windIntervval);
        }
    }

    function sensorDataWarningFunction() {
        window.open("/popup/alert", "MsgWindow", "width=1500,height=800");
    }

    function realTimeWindSpeedFunction() {
        window.open("/popup/graph", "MsgWindow", "width=1800 ,height=950")
    }

    //시작 함수
    $(document).ready(function () {
        //풍속 갱신 지정
        setIntervalEVent();
    });

</script>
</body>
</html>