<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EHS.MonitoringSystem.dao.ChartDataMapper">

    <select id="getAirTemperChartData" parameterType="java.util.HashMap"
            resultType="EHS.MonitoringSystem.vo.ChartDataVO">

      SELECT x,
             ROUND(AVG(y), 2) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       AirTemperature  AS y
                from (
                        SELECT RCVTime, AirTemperature 
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) = #{sensorId}
                     )a
        )TEMP
        GROUP BY x
        order by x asc

    </select>


    <select id="getWindSpdChartData" parameterType="java.util.HashMap" resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 0) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       WindSpeed AS y
                from (
                        SELECT RCVTime,
                               ROUND(WindSpeed / 100 , 0) As WindSpeed
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) =  #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>


    <select id="getWindDirChartData" parameterType="java.util.HashMap" resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 0) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       WindDirection AS y
                from (
                        SELECT RCVTime,
                               WindDirection
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) =  #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>

    <select id="getRHumidityChartData" parameterType="java.util.HashMap"
            resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 2) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       RHumidity  AS y
                from (
                        SELECT RCVTime,
                               RHumidity
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) = #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>


    <select id="getLuxChartData" parameterType="java.util.HashMap" resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 0) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       Lux AS y
                from (
                        SELECT RCVTime,
                               Lux
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) = #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>

    <select id="getAirPressureChartData" parameterType="java.util.HashMap" resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 0) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       AirPressure AS y
                from (
                        SELECT RCVTime,
                               AirPressure
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) = #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>

    <select id="getVBatChartData" parameterType="java.util.HashMap" resultType="EHS.MonitoringSystem.vo.ChartDataVO">
      SELECT x,
             ROUND(AVG(y), 2) as y
      FROM(
                SELECT distinct DATE_FORMAT(CONVERT_TZ( DATE_FORMAT(RCVTime, '%Y-%m-%d %H:%i:00'),'+0:00', '+09:00')  ,'%Y-%m-%d %H:%i:00') AS x,
                       Vbat AS y
                from (
                        SELECT RCVTime,
                               Vbat
                        FROM pier_env
                        WHERE date_format(RCVTime, '%Y-%m-%d %H:%i:%s')   <![CDATA[ >= ]]> str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
                            AND date_format(RCVTime, '%Y-%m-%d %H:%i:%s') <![CDATA[ < ]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s')
                            AND UPPER(SensorId) =  #{sensorId}
                     )a
          )TEMP
       GROUP BY x
       order by x asc

    </select>

</mapper>



