<!DOCTYPE html>
<html lang="en" xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmls:th="http://www.thymeleaf.org">
    <!-- head -->
    <head th:fragment="head">
        <meta http-equiv="content-type" content="text/html" ; charset="UTF-8"/>
        <title>영흥발전소저탄장</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
        <style>
            .container {
                max-width: 100%;
            }
        </style>

    </head>

    <!--nav Bar-->
    <nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <!--        <img src="/images/logo_sm.png" width="30" height="30">-->
        </a>
        <!-- hamburger Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
    </nav>

    <footer th:fragment="footer">
        <div class="row justify-content-center">
            <!--            <img class="mb-2" src="/images/logo_long_kr.jpg" alt="" width="100">-->
            <small class="d-block mb-3 text-muted">&copy; 영흥발전소저탄장</small>
        </div>
    </footer>

</html>
