<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmls="http://www.w3.org/1999/xhtml">
<html xmls:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<br>
<div class="container">
    <!--  Control Button -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg btn-block"
                    th:href="@{/}">Coalyard Monitoring
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-lg btn-block"
                    th:href="@{/alert/alertconfig}">Alert Configuration
            </button>
            <br> <br> <br>
        </div>
    </div>
</div>

<!-- Alert Threshold -->


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h2>Alert Threshold</h2>
        <br>
        <table class="tg" style="undefined;table-layout: fixed; width: 555px">
            <colgroup>
                <col style="width: 140px">
                <col style="width: 140px">
                <col style="width: 140px">
                <col style="width: 140px">
            </colgroup>
            <thead>
            <tr>
                <th class="tg-c3ow">DCU ID</th>
                <th class="tg-baqh">Sensor</th>
                <th class="tg-baqh">Threshold</th>
                <th class="tg-baqh">Bound</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tg-baqh">
                    <select name='fruits' size='8' style="width: 100px">

                        <!-- Select Box -->
                        <option value='' selected>-- 선택 --</option>
                        <option value='apple'>사과</option>
                        <option value='banana'>바나나</option>
                        <option value='lemon'>레몬</option>
                    </select>
                </td>
                <td class="tg-baqh">
                    <select name='fruits' size='8' style="width: 100px">

                        <!-- Select Box -->
                        <option value='' selected>-- 선택 --</option>
                        <option value='apple'>사과</option>
                        <option value='banana'>바나나</option>
                        <option value='lemon'>레몬</option>
                    </select>
                </td>
                </td>
                <td class="tg-baqh">
                    <input id="textThreshold" type="text" placeholder="입력!">
                </td>
                <td class="tg-baqh" >

                    <div>
                        <input type="radio" id="huey" name="drone" value="huey"
                               checked>
                        <label for="huey">Huey</label>
                    </div>

                    <div>
                        <input type="radio" id="dewey" name="drone" value="dewey">
                        <label for="dewey">Dewey</label>
                    </div>

                    <div>
                        <input type="radio" id="louie" name="drone" value="louie">
                        <label for="louie">Louie</label>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<div th:replace="fragments.html :: footer"></div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>