<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body class="bg-light">
<div class="container">
    <!-- Alert Threshold -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h2>Alert Threshold</h2>
            <br>
            <!--         <table class="table borderless"  style=" height: 300px; width: 800px;" >    -->
            <table class="table borderless">
                <colgroup>
                    <col style="width: 140px">
                    <col style="width: 140px">
                    <col style="width: 140px">
                    <col style="width: 140px">
                </colgroup>
                <thead>
                <tr>
<!--                    <th class="tg-baqh">Threshold</th>-->
                    <th style="font-size: 1.5rem">Sensor ID</th>
                    <th style="font-size: 1.5rem">Sensor</th>
                    <th style="font-size: 1.5rem">Threshold</th>
                    <th style="font-size: 1.5rem">Bound</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="tg-baqh">
                        <select name='select' size='10' style="width: 152px;height: 202px;">

                            <!-- Select Box -->
                            <option value='' selected>-- 선택 --</option>
                            <option value='apple'>sensor 1</option>
                            <option value='banana'>sensor 2</option>
                            <option value='lemon'>sensor 3</option>
                            <option value='lemon'>sensor 4</option>
                            <option value='lemon'>sensor 5</option>
                            <option value='lemon'>sensor 6</option>
                            <option value='lemon'>sensor 7</option>
                            <option value='lemon'>sensor 8</option>
                            <option value='lemon'>sensor 9</option>
                            <option value='lemon'>sensor 10</option>
                            <option value='lemon'>sensor 11</option>

                        </select>
                    </td>
                    <td class="tg-baqh">
                        <select name='select' size='10' style="width: 152px; height: 202px;">

                            <!-- Select Box -->
                            <option value='' selected>-- 선택 --</option>
                            <option value='apple'>Wind</option>
                            <option value='banana'>Speed</option>
                            <option value='banana'>Dir</option>
                            <option value='banana'>Lux</option>
                            <option value='banana'>Temp</option>
                            <option value='lemon'>Hum</option>
                        </select>
                    </td>
                    </td>
                    <td class="tg-baqh">
                        <input id="textThreshold" style="width: 158px; height: 56px;" type="text"
                               placeholder="입력">
                    </td>
                    <td class="tg-baqh">

                        <div class="">
                            <input type="radio" id="huey" name="drone" value="huey"
                                   checked>
                            <label for="huey">Up</label>
                            <br>
                            <input type="radio" id="dewey" name="drone" value="dewey">
                            <label for="dewey">Down</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <br><br>
            <!--  Apply Button -->
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary btn-lg">Apply</button>
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>