<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmls="http://www.w3.org/1999/xhtml"
      xmlns:float="http://www.w3.org/1999/xhtml">
<html xmls:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        min-height: 300px;
        max-height: 300px;
        min-width: 50%;
        max-width: 80%;
        margin-top: 10px;
    }
    .chart {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    select {
        width: 120px;
        padding: .5em .3em;
        font-family: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #999;
        border-radius: 0px;
    }

    select::-ms-expand {
        /* for IE 11 */
        display: none;
    }

</style>

<body class="bg-light" >
<!--<p th:text="'hi' + ${data}">반가워</p>-->
<div th:replace="fragments.html :: main-nav"></div>
<div class="row">
    <!--    <div class="col-lg-12 col-sm-12 col-xs-12">-->
    <div class="container">
        <!--  Control Button -->
        <div class="row">
            <div class="col-lg-6">
                <span><h3>temperChart</h3></span>
            </div>
            <div class="col-lg-6" style="text-align: right">
<!--                <span style="font-size: 20pt">차트 시간 : </span>-->
<!--                <select class="pull-right"  s style="margin-left: 10px;margin-right: 30px;">-->
<!--                    <option>5분</option>-->
<!--                    <option>24시간</option>-->
<!--                    <option>1주일</option>-->
<!--                </select>-->
            </div>
            <div class="col-lg-12">
                <div class="chart">
                    <h3>온도차트 </h3>
                    <canvas id="temperChart" width="800px" height="300px" ></canvas>
                </div>
                <div class="chart">
                   <h3>풍속 </h3>
                    <canvas id="windSpdChart" width="800px" height="300px" ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/chart.js/2.8.0/dist/Chart.js}"></script>
<script th:src="@{/js/chartUtils.js}"></script>
<script th:src="@{/js/commonChart.js}"></script>


<script>

    $(document).ready(function() {
        initChart();
    });

    var temperChart = null;
    var windSpdChart = null;

    var windIntervval = null;

    function initChart() {
        var tempCtx = document.getElementById("temperChart").getContext("2d");
        var windSpdCtx = document.getElementById("windSpdChart").getContext("2d");

        //온도 차트 초기화
        var temperChartData = chartDataSet;
        temperChart  = new Chart(tempCtx, {
            type: 'line',
            data: temperChartData,
            options: chartOptions
        });

        //풍속차트 초기화
        var windSpdChartData = chartDataSet;
        windSpdChart  = new Chart(windSpdCtx, {
            type: 'line',
            data: windSpdChartData,
            options: chartOptions
        });

        makChart();
        windIntervval = setInterval(makChart, 300000);

    }


    function makChart()  {
        var param   =  function() {
            var now = moment(new Date(new Date().toISOString())).format('YYYY-MM-DD 00:00:00');
            var startDate =  moment(now).utc().format('YYYY-MM-DD HH:mm:ss');
            var endDate = moment(startDate).add(24, 'hours').format('YYYY-MM-DD HH:mm:ss');

            var result = {
                startDate: startDate,
                endDate : endDate,
                sensorId :'IDY001'
            }
            return result;
        }


        $.ajax({
            url: '/chart/chartData',
            type : "post",
            dataType: "json",
            data: param(),
            success : function (data) {
                if(data.resultCode === 200) {
                    drawCharts(data);
                }
            },
            fail:function(data){
                console.log(data)
            },
            error: function(data, status, error){
                console.log(error);
            }
        });
    }



    function drawCharts(data) {
        drawTemperChart(data.tempData);
        drawWindSpdChart(data.windSpdData);
    }

    function drawTemperChart(data) {
        console.log(data);
        if(typeof data != 'undefined' && data.length > 0){
            var selectedRange = 'time';
            var temperChartData = chartDataSet;

            temperChartData.datasets[0].label = '온도';
            temperChartData.datasets[0].data = data;
            temperChartData.datasets[0]['fill'] = false;
            temperChartData.datasets[0]['borderWidth'] = 2;
            temperChartData.datasets[0]['cubicInterpolationMode'] = 'monotone';

            temperChart.data = temperChartData;
        }

        var chartOpt = getChartOption(85, 10);

        temperChart.options = chartOpt;
        temperChart.update();
    }


    function drawWindSpdChart(data) {
        console.log(data);
        if(typeof data != 'undefined' && data.length > 0){
            var selectedRange = 'time';

            var windSpdData = chartDataSet;

            windSpdData.datasets[0].label = '풍속';
            windSpdData.datasets[0].data = data;
            windSpdData.datasets[0]['fill'] = false;
            windSpdData.datasets[0]['borderWidth'] = 2;
            windSpdData.datasets[0]['cubicInterpolationMode'] = 'monotone';

            windSpdChart.data = windSpdData;
        }

        var chartOpt = getChartOption(600, 50);

        windSpdChart.options = chartOpt;
        windSpdChart.update();
    }


    function getChartOption(max, stepSize){
        var option = chartOptions;
        option.scales.yAxes[0].ticks.max = max;
        option.scales.yAxes[0].ticks.stepSize= stepSize;
        return option;
    }


</script>

<!--        <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>-->
</html  >
